
@{
    ViewData["Title"] = "Index";
}

    <center>
        <a href="/Account/Signin">Sign in</a>
        -
        <a href="/Account/Signup">Sign up</a>
    </center>

<h1>Mon compte</h1>
<p>
    Nom de famille : @ViewData["lastname"]
    <br>
    Prénom : @ViewData["firstname"]
    <br>
    Age : @ViewData["age"]
    <br>
    Nom de compte : @ViewData["username"]
    <br>

</p>

<h1>Livres empruntés :</h1>
<p>
    Livre 1 : @ViewData["book1"]
    <br>
    Livre 2 : @ViewData["book2"]
    <br>
    Livre 3 : @ViewData["book3"]
</p>


