
 @model Library.Models.User

    <center>
        <a href="/Account/Signin">Sign in</a>
        -
        <a href="/Account/Signup">Sign up</a>
    </center>

<h1>Mon compte</h1>
<p>
    Nom de famille : @Model.Lastname
    <br>
    Prénom : @Model.Firstname
    <br>
    Age : @Model.Age
    <br>
    Nom de compte : @Model.Username
    <br>

</p>

<h1>Livres empruntés :</h1>
<p>
    @foreach (var item in Model.UserBooks)
    {

        @item.Book.Title
        <br>
        
    }

</p>


